<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card text-center" style="padding: 25px;">
            <h1 class="header text-uppercase">Logout</h1> <img class="img" src="../assets/images/logging-out.gif"> <br>
            <p class="parag">Come back soon!!</p> <br>
            <p class="modal-body">Are you sure you want to log-off?</p> <br>
            <div class="buttons"> <button class="yes" (click)="loggedOut()">Yes</button> <button class="cancel"
                    (click)="loggedOutCancel()">Cancel</button> </div>
        </div>
    </div>
